li:hover{
    cursor: pointer;
}

ul{
    width:100%;
    list-style: none;
    padding-left: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}